/* colors */
$faded-color: rgb(204, 204, 204);
$faded-darker-color: rgb(153, 153, 153);
$faded-lighter-color: rgb(153, 153, 153);

$faded-background-color: rgb(245, 245, 245);
$faded-background-darker-color: rgb(240, 240, 240);
$faded-background-lighter-color: rgb(240, 240, 240);

$red-highlight:  rgb(222, 53, 11);

$blue-highlight: rgb(194, 223, 233);
$blue-darker-highlight: rgb(179, 218, 231);

/* background */
$background-color: white;

/* fonts */
$font-base-color: #151515;
$font-disabled-color: #707070;

/* navbar font size  and padding*/

$navbar-fontsize: 1em;
$navbar-padding: 0.8em;